$body_font : Arial,Helvetica,sans-serif;
$body_font_color:#8b8b8b;
$body_font_size:14px;
$body_font_line_height:1.7;

$global_link_text_decoration:none;

$header-navigation_align:center;

$main_menu_item_color:#d1d1d1;
$main_menu_item_color_hover:#242424;
$main_menu_item_padding:25px;

$site_logo_align:center;
$site_logo_margin_bottom:35px;

$post_text_align:center;
$post_margin:55px;
$post_content_width:540px;
$post_thumbnail_margin_bottom:85px;
$post_title_size:18px;
$post_title_color:#545454;
$post_title_margin_bottom:20px;
$post_excerpt_margin_bottom:25px;
$post_button_more_background:#d1d1d1;
$post_button_more_background_hover:#8b8b8b;
$post_button_more_color:#ffffff;
$post_button_more_padding: 5px 20px;

$site-footer_background:#555555;
$site-footer_padding:10px 0;
$site-footer_line_height:47px;
$site-footer_align:center;

$footer_menu_item_link_color:#d1d1d1;
$footer_menu_item_link_color_hover:#242424;
$footer_menu_item_padding:15px;

$footer_copyright_color:#d1d1d1;

/* Main styles (start) */
body{
	font-family:$body_font;
	font-size:$body_font_size;
	color: $body_font_color;
}

ul{
	margin:0;
}

a{
	text-decoration:$global_link_text_decoration;
}
a:hover{
	text-decoration:$global_link_text_decoration;
}
/* Main styles (end) */

/* Header styles (start)*/

.site-header{

	.header-navigation{
		text-align:$header-navigation_align;
	}

}

//Main menu styles

.main-menu{
	
	&:after{
		content:'';
		display:block;
		clear:both;
	}
	margin:30px 0;
	
	.main-menu__item{
		display:inline-block;
		padding-left:$main_menu_item_padding;
		padding-right:$main_menu_item_padding;
		
		.main-menu__item-link{
			color:$main_menu_item_color;
			transition:color 0.3s ease-in-out;
		}
		.main-menu__item-link:hover{
			color:$main_menu_item_color_hover;
		}
		
	}
}

.site-logo{
	text-align:$site_logo_align;
	margin-bottom:$site_logo_margin_bottom;
	
	.site-logo__title{
	
	}
	.site-logo__title span{
		position:relative;
	}
	.site-logo__title span:after{
		position:absolute;
		bottom:8px;
		right:-60px;
		content:' ';
		width:46px;
		height:7px;
		background:#6ba8b2;
	}
}
/* Header styles (end) */

/* Site content styles (start) */
.main-content{
	.post{
		text-align:$post_text_align;
		margin-bottom:$post_margin;
		
		.post__thumbnail{
			margin-bottom:$post_thumbnail_margin_bottom;
		}
		.post__content{
			max-width:$post_content_width;
			margin:0 auto;
			
			.post__title{
				font-size:$post_title_size;
				color:$post_title_color;
				margin-bottom:$post_title_margin_bottom;
			}
			.post__excerpt{
				margin-bottom:$post_excerpt_margin_bottom;
			}
			.post__more{
				cursor:pointer;
				background:$post_button_more_background;
				color:$post_button_more_color;
				border:none;
				padding:$post_button_more_padding;
				transition:background 0.3s ease-in-out ;
				
				&:hover{
					background:$post_button_more_background_hover;
				}
			}
		}
	}
}
/* Site content styles (end) */

/* Footer styles (start) */

.site-footer{
	background:$site-footer_background;
	padding:$site-footer_padding;
	line-height:$site-footer_line_height;
	text-align:$site-footer_align;
}

//Footer menu

.footer-menu{
	padding-left:0;

	.footer-menu__item{
		display:inline-block;
	}
	.footer-menu__item{
		display:inline-block;
		padding-left: $footer_menu_item_padding;
		padding-right: $footer_menu_item_padding;
		
		.footer-menu__item-link{
			color:$footer_menu_item_link_color;
			transition:color 0.3s ease-in-out;
		}
		&:hover .footer-menu__item-link{
			color:$footer_menu_item_link_color_hover;
		}
	}
}

.footer-copyright{
	color:$footer_copyright_color;
}

/* Footer styles (end) */